<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="15" />
	<uses-sdk android:name="android.permission.INTERNET"/>
	<uses-sdk android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-sdk android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-sdk android:name="android.permission.CAMERA"/>
	<uses-sdk android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-sdk android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<application android:label="Condos.Android"></application>
</manifest>
